<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<div><h1><p class="color">Tic-Tac_Toe</p></h1>

	<a href="/">RESTART</a>
	</div>
</div>
<body class="color">
<%=yield%>


	<title></title>
</head>
<body>

</body>
</html>