.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.color{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
    text-align: ;
}

